---
layout: default
---

<section class="intro">
  {{ content }}
</section>

<section class="posts">
  <h2>Recent Posts</h2>
  <ul class="post-list">
    {% for post in site.posts limit:10 %}
    <li>
      <article>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% else %}
        <p>{{ post.excerpt | strip_html | truncate: 150 }}</p>
        {% endif %}
        {% if post.tags.size > 0 %}
        <div class="tags">
          {% for tag in post.tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </article>
    </li>
    {% endfor %}
  </ul>
</section>
